@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #6ffca1;
    --cor-quaternaria: #1c1c1c;
    --cor-cinco: #6ffca0;
}
* { 
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    width: 100%;
    background-image: url(../assets/background-4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.titulo-destaque {
    color: var(--cor-terciaria);
}
.cabecalho {
    padding: 2% 0% 0% 15%;
    display: flex;
}
.cabecalho__menu {
    font-family: "Montserrat", serif;
    font-size: 1.375rem;
    font-weight: 400;
    display: flex;
    color: var(--cor-secundaria);
    gap: 50px;
}
.cabecalho__menu__link {
    /* background-color:#fd007a41; */
    color: var(--cor-secundaria);
    /* border: 2px solid var(--cor-terciaria);  */
    border-radius: 13px 20px;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    text-decoration: none;
}
.cabecalho__menu__link:hover {
    cursor: pointer;
    background-color: var(--cor-quaternaria);
    transform: scale(1.06);
    transition: 0.2s;
}
.apresentacao {
    padding: 7% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    gap:82px;
}
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family: "Krona One", serif;
}
.apresentacao__conteudo__texto {
    font-size: 1.25rem;
    font-family: "Montserrat", serif;
}
.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.apresentacao__links__subtitulo {
    flex-direction: column;
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 1.375rem;
}
.apresentacao__imagens {        
    width: 20px;
    max-width: 100px;
}
.apresentacao__imagem {
    width: 35%;
}
.apresentacao__links__navegacao {
    /* background-color: var(--cor-terciaria); */
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border: 2px solid var(--cor-terciaria);
    width: 100%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: "Montserrat", serif;
    font-weight: 400;
}
.apresentacao__links__navegacao:hover {
    cursor: pointer;
    background-color: var(--cor-quaternaria);
    transform: scale(1.08);
    transition: 0.4s;
}
.rodape {
    color: var(--cor-quaternaria);
    background-color: var(--cor-terciaria);
    padding: 20px;
    font-family: "Montserrat", serif;
    font-size: 1.125rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

@media (max-width: 1200px){
    .cabecalho {
        padding: 6% 0% 0% 0%;
        justify-content: space-evenly;
    }
    .cabecalho__menu {
        gap: 20px;
    }
    .cabecalho__menu__link {
        justify-content: center;
        align-items: center;
        font-size: 70%;
        background-color: var(--cor-cinco);
        color: var(--cor-primaria);
        font-weight: 500;
    }
    .apresentacao {
        flex-direction: column-reverse;
        gap:10px;
    }
    .apresentacao__conteudo {
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .apresentacao__conteudo__titulo {
        font-size: 1.10rem;
    }
    .apresentacao__conteudo__texto {
        font-size: 1rem;
    }
    .apresentacao__links__subtitulo {
        flex-direction: column;
        font-family: "Montserrat", serif;
        font-weight: 400;
        font-size: 1rem;
    }
    .apresentacao__imagem {
        width: auto;
    }
}
@media (max-width: 700px){
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        box-sizing: border-box;
        background-color: var(--cor-primaria);
        color: var(--cor-secundaria);
        width: 100%;
        background-image: url(../assets/background-cel.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        object-fit: contain; 
    }
    .cabecalho {
        padding: 6% 0% 0% 0%;
        justify-content: space-evenly;
    }
    .cabecalho__menu {
        gap: 20px;
    }
    .cabecalho__menu__link {
        justify-content: center;
        align-items: center;
        font-size: 70%;
        background-color: var(--cor-cinco);
        color: var(--cor-primaria);
        font-weight: 500;
    }
    .apresentacao {
        flex-direction: column-reverse;
        gap:10px;
    }
    .apresentacao__conteudo {
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .apresentacao__conteudo__titulo {
        font-size: 1.10rem;
    }
    .apresentacao__conteudo__texto {
        font-size: 1rem;
    }
    .apresentacao__links__subtitulo {
        flex-direction: column;
        font-family: "Montserrat", serif;
        font-weight: 400;
        font-size: 1rem;
    }
    .apresentacao__imagem {
        object-fit: contain; 
        width: 90%; 
        height: auto;
    }
}
